@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #111821;
}

html,
body,
:root {
  min-height: 100%;
  background-color: #F1F0EF;
  box-sizing: border-box;
}

.slick-slide {
  padding: 0 7px;
}

.slick-list {
  padding: 0 -7px;
}

.banner-slider .slick-dots {
  bottom: 2px!important;
}

.banner-slider .slick-next {
  right: 6px!important;
}

.banner-slider .slick-prev {
  left: 6px!important;
  z-index: 5;
}


/* products collection slider */

.products-collection .slick-next, .products-collection .slick-prev {
  top: -28px;
  color: #111821;
}

.products-collection .slick-next::before, .products-collection .slick-prev::before {
  color: #111821;
}

.products-collection .slick-next {
  right: 23px!important;
}

.products-collection .slick-prev {
  right: 50px!important;
  left: auto;
}