@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #111821;
}

html,
body,
:root {
  min-height: 100%;
  background-color: #F1F0EF;
  box-sizing: border-box;
}

.slick-dots {
  bottom: 2px!important;
}

.slick-next {
  right: 6px!important;
}

.slick-prev {
  left: 6px!important;
  z-index: 5;
}